<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>06-SpecialLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>284D0DD31CCA060C009D5029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>284D0DE71CCA060C009D5029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>284D0DF21CCA060C009D5029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
